body { margin: 0; padding: 0; }
#map { position: absolute; top: 0; bottom: 0; width: 100%;}

#menu {
  background: rgb(90, 90, 90, 0.5)
}
.container {
  background: rgba(0, 0, 0, 0.75);
  /* color: #fff; */
  position:relative;
  z-index: 1
}
/* Assembly hacks */
.rounder {
  border-radius: .7em;
}
.toggle {
  border: 1px solid gray;
  color: #000;
  margin: 0 .1em 0 0 ; 
  padding: .2em .6em;
}

.mapboxgl-popup-content {
  border: 1px solid gray;
}
label {
  float: left;
  display:block;
  clear: both;
  padding: .2em;
}
h4 {
  clear: both;
  display: block;
}
.popup-img {
  max-height: 200px;
  max-width: 200px;
  /* float: left; */
  padding: 0 0.5em 0.5em 0;
}
.popup-info {
  clear: both;
}