body {
  margin: 0;
  padding: 0;
  background-color: #0d5900;
}

#map {
  position: absolute;
  top: 3.5em;
  bottom: 0;
  width: 100%;
  z-index: 0;
  height: 100vh;
}

.container {
  background: rgba(0, 0, 0, 0.75);
  /* color: #fff; */
  /* position:relative; */
  z-index: 1;
}
/* Assembly hacks */
.select {
  border-radius: 0.5em;
  border: 1px solid gray;
  padding: 0.25em 1.3em 0.15em 0.5em;
  margin-right: 0.3em;
}

.rounder {
  border-radius: 0.7em;
}
.toggle {
  border: 1px solid silver;
  color: #000;
  margin: 0 0.1em 0 0;
  padding: 0.2em 0.6em;
}

.mapboxgl-popup-content p {
  padding-top: 0.1em;
}
.mapboxgl-popup-content h1 {
  font-weight: bold;
}
.mapboxgl-popup-content {
  border: 1px solid gray;
}
.mapboxgl-popup-content a {
  color: #213268;
  text-decoration: underline;
}
.mapboxgl-popup-close-button {
  margin-right: 0.5em;
}
label {
  float: left;
  display: block;
  clear: both;
  padding: 0.2em;
}
h4 {
  clear: both;
  display: block;
}
.popup-img {
  max-height: 200px;
  max-width: 200px;
  /* float: left; */
  padding: 0 0.5em 0.5em 0;
}
.popup-info {
  clear: both;
}
